body{
	background-image: url(../src/matrix.gif)
}

div.menu_bar{
	width:900px; height:30px;
	margin:  0 auto;
	background-color: Gray;
	border-radius: 20px 20px 0px 0px;
	text-align:center;
	color:white;
	font-size:20px;
	opacity:90%;
}

div.black_box{
	width:900px; height:600px;
	margin:  0 auto;
	border-radius:20px;
	background-color:DimGray;
	border-radius: 0px 0px 20px 20px;
	opacity:90%;
	position:fixed;
	text-align:left;
	font-size:50px;
	color:LimeGreen;
}



/*
テキスト(中央)寄せ	text-align:(center);

*/
